PORT=5000
# POSTGRES_URI=postgres://user:password@localhost:5432/bid_and_win
POSTGRES_URI=postgresql://postgres:9381886983%40Sai@localhost:5432/bid_win_auction

JWT_SECRET=your_jwt_super_secret_key_change_this


# ADMIN CREATED SUCCESSFULLY
# Email:      admin@example.com
# Password:   adminpassword
# Secret Key: adminsecret